body {
  font-family: 'Manrope', 'Poppins', sans-serif;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}

.font-poppins {
  font-family: 'Poppins',   sans-serif;
}
/* Your existing CSS */
.font-instrument {
  font-family: 'Instrument Serif', serif;
}
